<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-sqlitecursor"
        version="1.0.0">

  <name>sqlitecursor</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <!--asset src="www/sqlitecursor.js" target="js/sqlitecursor.js"/-->

  <js-module src="www/sqlitecursor.js" name="sqlitecursor">
     <clobbers target="sqlitecursor" />
  </js-module>

  <platform name="android">
	<framework src="org.minidns:minidns-hla:1.0.4" />
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="sqlitecursor">
        <param name="android-package" value="de.mopsdom.sqlitecursor.sqlitecursor"/>
		<!--param name="onload" value="true"/-->
      </feature>
    </config-file>

    <source-file src="src/android/sqlitecursor.java" target-dir="src/de/mopsdom/sqlitecursor"/>

  </platform>


</plugin>